.button {
  border: solid grey 0.1px;
  background: rgba(0, 0, 0, 0.05);
  /* border: none; */
  height: 40px;
  position: relative;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
}
.adjustText {
  display: inline-block;
  border: none;
  height: 40px;
  position: relative;
  width: 100px;
  border: solid grey 0.1px;
  border-left: none;
  border-right: none;
  font-size: 20px;
  line-height: 40px;
  background: #fff;
  text-align: center;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .adjustText {
    width: 70px;
    height: 35px;
  }
  .button {
    width: 35px;
    height: 35px;
  }
}
