.cardContainer {
  /* padding: 25px 50px; */
  border: #cfcfd2 0.1px solid;
  border-radius: 5px;
  margin: 10px 0px;
  width: 30vw;
  height: 500px;
  background: white;
}
.cardContainer:hover {
  border: solid 2px rgb(220, 235, 17);
}

.cardContainer:nth-of-type(1) {
  width: 60vw;
}
@media only screen and (max-width: 1000px) {
  .cardContainer:nth-of-type(1) {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .cardContainer {
    width: 48%;
  }
}
@media only screen and (max-width: 600px) {
  .cardContainer {
    width: 98%;
  }
}
.cardData {
  padding: 5px 20px;
  margin: 5px 0px;
}

@media only screen and (min-width: 1000px) {
  .cardContainer:last-of-type {
    /* background: #000; */
    /* margin-left: 0.5%; */
  }
}
