html,
body {
  background: #c4c4c4;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}

:root {
  --tag-color: rgb(220, 235, 17);
  --back-color: #c4c4c4;
  --skeleton-color: #ebebeb;
  --header-color: #282927;
}
